DOCKER_REGISTRY=ghcr.io/lisa086
BACKEND_IMAGE=${DOCKER_REGISTRY}/text-evaluator-backend
FRONTEND_IMAGE=${DOCKER_REGISTRY}/text-evaluator-frontend
IMAGE_TAG=latest
BACKEND_PORT=8000
FRONTEND_PORT=3000
